@using Blog.Models
@model Author

@{
    ViewBag.Title = "Автор " + @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Автор @Model.Name</h4>
    <hr />
    <dl>
        <dt>Имя</dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Блоги</dt>

        <dd>
            <ul>
                @foreach (Blog blogs in Model.Blogs)
                {
                    @*<li>@blogs.Name (@blogs.Tag)</li>*@
                    <li>@blogs.Name (@blogs.Tag)</li>                  
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Назад", "Index")
</p>